body {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFF;
    margin: auto;
}

a,
a:focus,
a:hover {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #1CD6D9;
    text-decoration: none;
    font-size: smaller;
}

button {
    outline: white;
    background-color: rgba(30, 33, 40, 1);
    border-color: rgba(255, 255, 255, 0.4);
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    display: block;
}

.x {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFF;
    margin: auto;
    font-size: 20pt;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

#toggleGraph {
    width: 29px;
    height: 29px;
    display: none;
    /* this changes when a chart is rendered and a button is necessary */
    /* transition: width .3s; */
}

#toggleInfo {
    width: 29px;
    height: 29px;
    /* this changes when a chart is rendered and a button is necessary */
    /* transition: width .3s; */
}

#usgs-link {
    justify-content: center;
    align-items: center;
    display: flex;
}

.media-box {
    background-color: rgba(137, 43, 226, 0);
    opacity: 0;
    transition: max-width 0.3s;
    transition: opacity 0.3s;
    display: none;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 6%;
    left: 0;
    right: 0;
    padding: .5%;
}

.info {
    background-color: rgba(30, 33, 40, 1);
    outline: 4px solid rgba(255, 255, 255, 0.4);
    outline-width: 1px;
    z-index: 10000;
    border-radius: 2rem;
    margin: 20px;
    padding: 20px;
    height: 100%;
    flex: 1 1 auto;
    /* this will make the charts grow and shrink as necessary */
    min-width: calc(100% / 4 - 2%);
    /* adjust the fraction based on the number of charts you want to display */
    max-width: calc(100% / 1 - 2%);
}

.chart {
    background-color: rgba(30, 33, 40, 1);
    outline: 4px solid rgba(255, 255, 255, 0.4);
    outline-width: 1px;
    z-index: 10000;
    border-radius: 2rem;
    margin: 20px;
    padding: 20px;
    height: 100%;
    flex: 1 1 auto;
    /* this will make the charts grow and shrink as necessary */
    min-width: calc(100% / 4 - 2%);
    /* adjust the fraction based on the number of charts you want to display */
    max-width: calc(100% / 1 - 2%);
}

/* styling for the svgs inside buttons */
.icon {
    height: 17px;
    width: 17px;
    background-repeat: no-repeat;
    display: block;
    rotate: 0deg;
    transition: rotate .3s;
    margin: auto;
}

#graph {
    background-image: url(../img/plus.svg);
}

#info {
    background-image: url(../img/info.svg);
}

/* mapbox overrides */
.mapboxgl-ctrl-icon {
    display: none !important;
}

.mapboxgl-ctrl-zoom-in {
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.mapboxgl-ctrl-zoom-out {
    background-image: url(../img/minus.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.mapboxgl-ctrl-compass {
    background-image: url(../img/north.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.mapboxgl-ctrl-geolocate {
    background-image: url(../img/crosshair.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.mapboxgl-ctrl-group {
    outline: solid rgba(255, 255, 255, .4) !important;
    outline-width: 1px !important;
    border-radius: 2.5vh !important;
    background: rgba(30, 33, 40, 1) !important;
}

.mapboxgl-ctrl-group button+button {
    border-top: 0px solid #ddd !important;
}